*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --primaryColor : #009688;

    --CHATprimaryColor : #EAEAEA;
    --CHATsecondaryColor : #E6E2DE;
    --CHATmessageSENT : #D5F9BA;
    --CHATmessageREC : white;

    --FONTprimaryColor : #B2B1B5;
    --FONTsecondaryColor : #B2B1B1;
    --FONTiconColor : #6B7376;

    --ALERTcolor : #8EDAFC;
    
}

body {
    /* da sistemare il gradient secondary */
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(var(--primaryColor) 20%,var(--FONTiconColor)20%);
    height: 100vh;
}

.container {

    display: flex;

    width: 500px;
    height: 600px;
    background-color: red;
}

#side-bar {
    width: 25%;
    height: 100%;
    background-color: var(--CHATprimaryColor);
}

#active-chat {
    width: 75%;
    height: 100%;
    background-color: var(--CHATsecondaryColor);
}
