<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <div id="app" class="container">
        <section id="side-bar">
            <div class="UAbar">
                <div class="UAprofile">
                    <img src="img/avatar_io.jpg" alt="profile avatar">
                    <span class="UAname">My Name</span>
                </div>

                <div class="UAoption">
                    <button class="OP-btn"><i class="fa-solid fa-rotate-right"></i></button>
                    <button class="OP-btn"><i class="fa-solid fa-message"></i></button>
                    <button class="OP-btn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                </div>
            </div>

            <div class="ALERTsoft">
                <div class="ALERTicon">
                    <i class="fa-solid fa-bell-slash ALERTimg"></i>
                </div>
                <div class="ALERTmessage">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <div id="CTsrc">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input v-model="mySearchValue" @keyup.enter="searchEngine(mySearchValue)" type="text">
            </div>

            <div class="CTlist">
                <div 
                    class="CTC"  @click="selectedCT(CTindex)" 
                    v-for="(elemento, CTindex) in filteredSearch" 
                    :class="{CTCmarked : elemento.visible == false}"
                    >
                    

                    <div class="CTCavatar">
                        <img :src="elemento.avatar" :alt="contacts[CTindex].name">
                    </div>

                    <div class="CTnameMsg">
                        <span class="CTCname">{{elemento.name}}</span>
                        <span class="CTlstmsg">Ultimo messaggio: {{elemento.messages[1].message}}</span>
                    </div>

                    <div class="CTCdata-hh">
                        12.00
                    </div>
                </div>
                
            </div>
        </section>
        <section id="active-chat">
            <div class="headerCHAT">

                <div class="UAbar leftBorder">
                    <div class="UAprofile">
                        <img src="img/avatar_io.jpg" alt="profile avatar">
                        <span class="UAname">My Name</span>
                    </div>
    
                    <div class="UAoption">
                        <button class="OP-btn"><i class="fa-solid fa-rotate-right"></i></button>
                        <button class="OP-btn"><i class="fa-solid fa-message"></i></button>
                        <button class="OP-btn"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>
                </div>

            </div>
            <div 
                v-for="(elemento, index) in contacts" 
                :class="contacts[index].visible == true?'hidden':'show'"
                class="displayCHAT">
                    <div class="innerDisplay">
                    <div v-for="(elemento,msgindex) in contacts[index].messages" 
                        :class="contacts[index].messages[msgindex].status == 'sent'?'Umsg':'PCmsg'">
                        {{contacts[index].messages[msgindex].message}}
                    </div>
                </div>
                    
            </div>
            <div class="inputCHAT">
                <button class="OP-btn"><i class="fa-solid fa-face-smile"></i></button>
                <input @keyup.enter="sendMessage(myMsgValue)" class="myMessage" v-model="myMsgValue" type="text">
                <button class="OP-btn"><i class="fa-solid fa-microphone"></i></button>
            </div>
        </section>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js" type="text/javascript" ></script>
</body>
</html>
